
.named{
    text-align: center;
    padding-bottom: 44px;
}

.named__theme{
    font-family: "Roboto", sans-serif;
    font-size: large;
    font-weight: bold;
}

body{
    color: white;
    overflow-x: auto;
}

body::-webkit-scrollbar {
    height: 8px;
}
body::-webkit-scrollbar-track {
    background: #202020;        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
    background-color: #8a8a8a;    /* color of the scroll thumb */
    border-radius: 5px;       /* roundness of the scroll thumb */
}

footer{
    margin-top: 50px;
    border: 1px solid;
    text-align: center;
}
